.item-content-wraper {
    top: 5%;
    position: absolute;
    bottom: 0;
    left: 0;
    padding: rem;
    width: 40%;
    background-color: rgba(0, 0, 0, 0.3); 
    color: white; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    z-index: 2; 
}

.item-content-wraper::before {
    content: "";
    position: absolute;
    top: 0;
    left: 100%;
    width: 50%;
    height: 100%;
    background: linear-gradient(to right, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0)); 
    z-index: -1; 
}

.item-content-title {
    position: absolute; 
    top: 55%; 
    left: 20%; 
    transform: translate(-20%, -50%); 
    font-size: 4rem;
    font-weight: bold;
    color: white;
    text-align: left; 
}

.item-content-title::after,.item-content-title::before {
    content: "";
    display: block;
    width: 105%; 
    height: 2px; 
    background-color: white; 
    position: absolute;
    bottom: -15px; 
    left: 0; 
}


.item-content-description {
    position: absolute;
    font-size: 1rem;
    line-height: 1.5;
    left: 10%;
    top: 62%; 
    font-size: x-large;
}
.button{
    position: relative; 
    top: 1150px; 
    padding:20px;
    z-index: 10;
}